<ion-view view-title="About">
  <ion-content>
    <div class="list card">

      <a class="item item-icon-left" style="text-align:center;">
        <i class="icon ion-ios-people"></i> <strong>Team</strong>
      </a>

      <a class="item item-icon-left">Mohamed Magdy</a>
      <a class="item item-icon-left">Bassant Ahmed</a>

      <a class="item item-icon-left">Hossam Ahmed</a>

    </div>
    <div class="list card">
        <a class="item item-icon-left">
          <i class="icon ion-home"></i> <strong>Version:</strong> 1.0.0
        </a>
    </div>

  </ion-content>
</ion-view>
